<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style type ="text/css">
        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
            color: blueviolet;
            background-color: aquamarine;
        }
</style>
    <h1>Welcome to gitPub</h1>
    <ul>
        {% for drink in allDrinks %}
        <li>
           <a href="/drinks/{{ forloop.index0 }}">{{ drink.name| capitalize}}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>