<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Drinks</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="" />
        <style type="text/css">
            body {
              color: blanchedalmond;
              background-color: steelblue;
            }
        </style>
    </head>
    <body>
        <h1>List of Drinks</h1>
        <ul>
            {% for drink in drinksList%}
                <li><a href="/drinks/{{forloop.index0}}">{{drink.name}}</a></li>
            {% endfor %}
        </ul>
    
    </body>
</html>