<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: rgb(225, 196, 124);
            color: white;
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            font-size: x-large;
        }
        ul {
            list-style: none;
        }
        li {
            margin: 5px;
            font-size: larger;
        }
        a {
            text-decoration: none;
        }
    </style>
    <title>gitPub Deliverable</title>
</head>
<body>
    <h1>Welcome to gitPub!</h1>

    <ul>
        {% for drink in allDrinks %}
        <li>
            {% assign drinkName = drink.name %}

            <a href="/drinks/{{ forloop.index0 }}">{{ drinkName | capitalize }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>