<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub</title>
    <style>
        h1 {
            text-align: center;
            font-size: 50px;
        }
        body {
            color: black;
            background-color: bisque;
        }
    </style>
</head>
<body>
    <h1>Drinks on Tap</h1>
    <ul>
        <!-- Create loop for each drink. Makes a li and upcase for each -->
        {% for drinks in drink %}
        <li>
            <a href="/drinks/{{ forloop.index0 }}">{{drinks.name | upcase}}</a>
        </li>
        {%endfor%}
    </ul>
</body>
</html>