<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1> Welcome to gitPub</h1>
<style type="text/css">
        body {
          color: green;
          background-color: black;
        }
      </style>
<body>

<h1>At foo bar</h1>
<h2>{{this.name}}</h2>
<img src="{{this.image}}.png" alt="">
<h3>{{this.price}}</h3>
<a href="/menu"> Back</a>
</body>
</html>