<!doctype html>
<html>
<head>
  <style type="text/css">
    body {
      background-color:black;
      color: white;
      font-size: larger;
    }
  </style>
</head>
<body>
    <h1>Welcome to Gitpub</h1>
    <ul> {%for drink in drinksList%}
        <li>
        
           
         <a href="/drinks/{{ forloop.index0 }}">{{ drink.name }}</a>
        </li>
        {%endfor%}

    </ul>
   
</body>
</html>