<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <style>
        body {
            color:blue;
            background-color: bisque;
            margin: auto;
            text-align:center;
        }

        h1{
            font-size: 45px;
        }
    </style>
    <h1>Welcome to gitPub</h1>
    <ul>
        {% for drink in allDrinks %}
        <li>style="text-transform:capitalize">
            <a href="/drinks/{{forloop.index0}}">{{drinks.name}}</a>

        </li>
        {%endfor%}
    </ul>
</body>
</html>