<!DOCTYPE html>
<html lang="en">
<head>
<style>
    body {
        background-color: lightblue;
        color: darkcyan;
    }
</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks</title>
</head>
<body>
    <h1>Welcome to my Gitpub!</h1>
    <ul>
        {% for drink in allDrinks %}

        <li>
            <a href="/drinks/{{forloop.index0}}">{{drink.name}}</a>
        </li> 
        {% endfor %}
    </ul>
</body>
</html>