<!doctype html>
<html>
<head>
  <style type="text/css">
    body {
      background-color:black;
      color: white;
    }
  </style>
</head>
<body>
    <h1>At Foo Bar</h1>
    <h2>{{drinkList.name}}</h2>
    <img src="{{drinkList.image}}.png" alt="">
    <h3>${{drinkList.price}}.00</h3>
   
   
     

     <a href="/drinks">Back to Index</a>

</body>
</html>