<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
        }
      </style>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gitPub</title>
</head>
<body>
    <h1>At foo bar</h1>
    
   
        <h2>The {{drink.name | capitalize}} </h2>
        <img src="{{drink.image}}.png" alt="">
        <h3>price: ${{drink.price}}</h3>
           
      
       
        <a href="/drinks/{{
            forloop.index0}}"> <br> Back to index
        </a>        
       
  
</body>
</html>