<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body {
            background-color: aquamarine;
            color: gray;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> At foo bar</h1>
    <h2>{{drink.name}}</h2>
    <img src="{{drink.image}}.png" alt=""{{drink.name}}/>
    <h2>{{drink.price}}</h2>
    <a href="/drinks">Back</a>
</body>
</html>