<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Git Pub</title>
        <style>
            body{
                background-color: black;
                color: white;
            }
        </style>
    </head>
    <header>
        <h1>Welcome to gitPub</h1>
    </header>
    <body>
        <h1>At foo bar</h1>
        <ul>
            <li><h2>{{allDrinks.name}}</h2></li>
        <ul>
        <img src="{{allDrinks.image}}.png">
        <h3>${{allDrinks.price}}</h3>
        <a href="/drinks/"></a>
    </body>
    </html>