<!DOCTYPE html>
<html lang="en">
<head>
<style>
    body {
        background-color: lightblue;
        color: darkcyan;
    }
    img {
        height: 250px;
        width: 250px;
        border: 2px solid rgb(40, 138, 171);
        border-radius: 10px;
    }
</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink</title>
</head>
<body>
    <h1>At foo bar</h1>
    <h2>{{drink.name}}</h2>
    <img src="{{drink.image}}.png" alt="A picture of the {{drink.name}}">
    <h3>{{drink.price}}</h3>
    <a href="/drinks/">Back to menu <<</a>
</body>
</html>